<a href="https://colab.research.google.com/github/GovardhanGova7277/PROJECTS/blob/main/Machine_learning_multiple_regression_for_the_house_price_using_so_many_feature(x_values)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
house=pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Boston.csv")

In [ ]:
house

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
house.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [ ]:
y=house['MEDV']
x=house[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2528)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
model.intercept_

28.82126719191582

In [ ]:
model.coef_

array([-9.87733212e-02,  4.72768514e-02,  4.11276126e-02,  2.79782514e+00,
       -1.53383207e+01,  4.34819691e+00,  1.01343608e-02, -1.17155021e+00,
        3.72587475e-01, -1.56169444e-02, -9.16309044e-01,  1.07766177e-02,
       -4.97751169e-01])

In [ ]:
# y_test to find the error percentage
y_test

288    22.3
420    16.7
387     7.4
327    22.2
262    48.8
       ...
59     19.6
338    20.6
11     18.9
377    13.3
323    18.5
Name: MEDV, Length: 127, dtype: float64

In [ ]:
 #  step7 : prediction
y_predict = model.predict(x_test)

In [ ]:
# y_predict
y_predict

array([27.59743107, 20.16015128,  5.85194131, 19.41936333, 41.77254982,
        3.52989466, 37.45068805, 19.67708676, 18.90317809, 10.01893493,
       32.76439234, 12.22375645, 32.48614316, 22.53160856, 18.81623169,
       28.69411895, 18.9413931 , 20.56790719, 33.68968177, 40.94380969,
       20.61690725, 31.17074714, 19.74561246, 30.70955191, 14.600894  ,
       28.25782148, 24.40547089, 19.67001745, 34.43863057, 20.82915657,
        2.94166559, 16.1718983 , 25.11831571, 17.47433886, 17.73620755,
       34.79382838, 11.65087365, 13.19143338, 25.69127049, 20.55338757,
       15.50305133, 10.32943829, 22.40065652,  8.96265136, 24.02626236,
       22.61684129,  9.40535278, 10.36469278, 20.3006925 , 18.58371239,
       29.86663131, 20.86822394, 37.44090436, 19.40006201, 15.39848928,
       33.97885093, 26.20444986, 21.56286379, 21.71368949, 24.65851518,
       19.01264758, 29.98855713, 30.57779497, 27.87474597, 37.92184679,
       32.8012935 , 33.20103023, 13.83370051, 18.15008336, 31.57946909,
       19.3655242 , 21.33140105, 17.24503107, 34.91277883, 20.37294991,
       33.46821442, 18.31734283, 19.99286927, 24.57933273, 22.92220565,
       20.58830055, 24.57879653, 27.80704787,  9.92536261, 28.91817673,
       14.10814279, 31.68223676, 24.46043398, 16.99168414, 28.26376458,
       17.03791758, 15.68692091, 24.26896634, 27.22127656, 12.437787  ,
       27.59746617, 16.54767472, 14.77597861, 19.88243449, 13.76507496,
       23.84388815, 19.20555812, 34.96673439,  6.19475387, 19.52972663,
       18.04295473, 35.97372065, 17.39122695, 25.5947619 , 20.08263321,
       16.76840325, 14.82763137,  7.44156624, 28.61951742, 30.84151726,
       17.99013302, 20.04719627, 33.98617174, 24.07423125, 24.77728013,
       41.18048851, 35.92323013, 21.56680464, 22.10670776, 22.11083303,
       20.99210102, 19.36911527])

In [ ]:
#  step 8 accurace to find the total sum of the errors between the y predicted - y actual(test)
from sklearn.metrics import mean_absolute_percentage_error

In [ ]:
mean_absolute_percentage_error(y_test,y_predict)

0.17136658522455422

In [ ]:
# accurace is 100% - 17% = 83%